@font-face {
  font-family: "Neuropolitical";
  src: url("../fonts/neuropolitical rg.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  font-family:
    "Neuropolitical",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

body {
  min-height: 100vh;
}

.title {
  font-size: 4rem;
  padding: 1rem 2rem;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.boards {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.board-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 0.5rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row: 1 / 2;
}

.cell {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

.player {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.ship {
  background-color: gray;
}

.ship.dragged {
  opacity: 0.5;
}

.hit {
  background-color: red;
}

.miss {
  background-color: aqua;
}

#message {
  font-size: 1.75rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

button {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
}
