* {
  margin: 0;
}

body {
  min-height: 100vh;
}

.boards {
  display: flex;
  justify-content: center;
  gap: 10rem;
}

.board-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-row: 1 / 2;
}

.cell {
  height: 2rem;
  width: 2rem;
  border: 1px solid black;
}

.player {
  grid-row: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship {
  background-color: gray;
}
